.card__like-button {
  background-image: url(../../../images/like.svg);
  width: 22px;
  min-height: 19px;
  margin: 0 5px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
  transition: 0.3s;
}
