.profile__edit-button {
  background-image: url(../../../images/pen.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 6px 0 0 2px;
  padding: 0;
  align-self: center;
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 1023px) {
  .profile__edit-button  {
    background-size: 7.5px 7.5px;
    height: 18px;
    width: 18px;
    margin: 6px 0 0;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
