.App {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background: #000000;
}

.notFound {
  color: white;
margin: 0 auto;
}

.notFound__link {
  color: white;
  margin-left: 12px;
}