.header__info {
    color: white;
    display: flex;
    gap: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
}

@media screen and (max-width: 325px) {
    .header__info {
        display: block;
    }
  }